{% extends "base.html" %}
{% block content %}
<div id="posts">
	{% for post in posts %}
		{% set post = hook('show_post', post)|raw %}
		<article>
			<header>
				<h2><a href="/post/view/{{ post.url }}" {% if isExternal(post.url) %} class="external" {% endif %}>{{ post.title }}</a></h2>
			</header>
			{{ post.content|markdown|raw }}
			<footer>Written by {{ post.author }} on {{ date.time|date('d/m/Y H:i') }}</footer>
		</article>
	{% else %}
		<p>This blog is empty.</p>
	{% endfor %}
</div>
{% endblock %}